* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Road Rage";
  src: url(../fonts/RoadRage.woff);
}

body {
  background-color: black;
  font-family: "Road Rage";
  color: white;
  opacity: 0.5;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#topo {
  background: url(../images/abobora-header.jpg) no-repeat top left;
  width: 750px;
  height: 250px;
  border-radius: 10px;
  margin: 25px auto;
  border: 5px solid #fef76e;
}

.logo {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  color: darkorange;
}

ul {
  list-style: none;
}

#topo ul {
  margin-top: 110px;
  margin-left: 40px;
  float: left;
}

#topo ul li {
  float: left;
}

#topo ul li a{
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 2em;
  padding: 0.7em 2.6em;
  background: #fef76e;
  color: orange;
  border: 2px solid orange;
  border-radius: 10px;
}

#topo ul li a:hover {
  background: #faf519 url(../images/marcador.png) no-repeat left center;
  border: 5px solid orange;
  color: darkorange;
}

body.home #navegacao-horizontal a#home {
  background: orangered;
  border: 3.5px solid #fef76e;
  color: #fef76e;
}

/* Navegacao lateral */
/* conteudo */
#conteudo #primeira-coluna,
#conteudo #segunda-coluna,
#conteudo #navegacao-lateral {
  float: left;
  margin-bottom: 20px;
}

#conteudo #primeira-coluna,
#conteudo #segunda-coluna {
  width: 380px;
}

#conteudo #primeira-coluna {
  margin-left: 220px;
}

#conteudo #segunda-coluna {
  margin-left: 20px;
}

#navegacao-lateral {
  width: 200px;
  margin-left: -1000px;
}

#navegacao-lateral ul li a {
  display: block;
  line-height: 2em;
  letter-spacing: 0.1em;
  text-indent: 1.5em;
  text-decoration: none;
  color: darkorange;
  background: #fef76e;
  padding: 7px 0 7px 0;
  border-radius: 0.7em;
  border: 2px solid darkorange;
}

#navegacao-lateral ul li a:hover {
  border: 6px solid orange;
  color: orange;
  background: #faf519 url(../images/marcador.png) no-repeat left center;
}

h1 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 200;
}

#conteudo #primeira-coluna h1,
#conteudo #segunda-coluna h1 {
  background-color: #001a00;
  border-radius: 20px;
  padding: 5px;
}

#conteudo #primeira-coluna p,
#conteudo #segunda-coluna p {
  padding: 10px;
  font-size: 0.9em;
}

/* rodape */
#rodape {
  background: #fef76e;
  clear: both;
  text-align: center;
  color: darkorange;
  padding: 7px;
  border-width: 3px 0px;
  border-style: outset;
  border-color: darkorange;
}
